@import "tailwindcss";

@font-face {
  font-family: "League Spartan";
  font-style: normal;
  src: local("League Spartan"),
    url("/fonts/LeagueSpartan-VariableFont_wght.ttf") format("truetype");
}

@theme {
  --color-*: initial;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey-800: #444444;
  --color-grey-500: #a0a0a0;
  --color-grey-200: #d8d8d8;
  --color-grey-100: #efefef;
  --color-grey-50: #fafafa;

  --text-*: initial;

  --text-1: 3rem;
  --text-1--line-height: 0.9;
  --text-1--letter-spacing: -0.125rem;
  --text-1--font-weight: 600;

  --text-2: 2.5rem;
  --text-2--line-height: 1;
  --text-2--letter-spacing: -0.125rem;
  --text-2--font-weight: 600;

  --text-3-bold: 1rem;
  --text-3-bold--line-height: 1.4;
  --text-3-bold--letter-spacing: 0.4375rem;
  --text-3-bold--font-weight: 700;

  --text-3-semibold: 1rem;
  --text-3-semibold--line-height: 1;
  --text-3-semibold--letter-spacing: -0.04375rem;
  --text-3-semibold--font-weight: 600;

  --text-3-medium: 1rem;
  --text-3-medium--line-height: 1.4;
  --text-3-medium--letter-spacing: -0.03125rem;
  --text-3-medium--font-weight: 500;

  --text-4: 0.9375rem;
  --text-4--line-height: 1;
  --text-4--letter-spacing: 0.78125rem;
  --text-4--font-weight: 500;

  --font-display: "League Spartan", sans-serif;
}

@layer base {
  body {
    @apply font-display;
  }
}
