@import "tailwindcss";

@font-face {
  font-family: "League Spartan";
  font-style: normal;
  src: local("League Spartan"),
    url("/fonts/LeagueSpartan-VariableFont_wght.ttf") format("truetype");
}

@theme {
  --color-*: initial;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey-800: #444444;
  --color-grey-500: #a0a0a0;
  --color-grey-200: #d8d8d8;
  --color-grey-100: #efefef;
  --color-grey-50: #fafafa;

  --text-*: initial;

  --text-1: 3rem;
  --text-1--line-height: 0.9;
  --text-1--letter-spacing: -0.125rem;
  --text-1--font-weight: 600;

  --text-2: 2.5rem;
  --text-2--line-height: 1;
  --text-2--letter-spacing: -0.125rem;
  --text-2--font-weight: 600;

  --text-3-bold: 1rem;
  --text-3-bold--line-height: 1.4;
  --text-3-bold--letter-spacing: 0.4375rem;
  --text-3-bold--font-weight: 700;

  --text-3-semibold: 1rem;
  --text-3-semibold--line-height: 1;
  --text-3-semibold--letter-spacing: -0.04375rem;
  --text-3-semibold--font-weight: 600;

  --text-3-medium: 1rem;
  --text-3-medium--line-height: 1.4;
  --text-3-medium--letter-spacing: -0.03125rem;
  --text-3-medium--font-weight: 500;

  --text-4: 0.9375rem;
  --text-4--line-height: 1;
  --text-4--letter-spacing: 0.78125rem;
  --text-4--font-weight: 500;

  --text-5: 0.875rem;
  --text-5--line-height: 1, 375rem;
  --text-5--letter-spacing: 0.364375rem;
  --text-5--font-weight: 700;

  --font-display: "League Spartan", sans-serif;
}

@layer base {
  body {
    @apply font-display;
  }
}
@layer components {
  @supports selector(::scroll-button(*)) {
    /* tailwind does not seem to support scroll buttons yet */
    .carousel-controls {
      position: relative;
    }

    .carousel-controls::scroll-button(*) {
      position: absolute;
    }
    .carousel-controls::scroll-button(left) {
      @apply right-0 top-90 -translate-y-full -translate-x-full md:top-100 xl:right-150 xl:top-133.5 xl:translate-x-full;
    }

    .carousel-controls::scroll-button(right) {
      @apply right-0 top-90 -translate-y-full md:top-100 xl:right-150 xl:top-133.5 xl:translate-x-[200%];
    }

    .carousel-controls::scroll-button(*) {
      @apply bg-black outline-none border-none cursor-pointer transition-colors duration-150 ease-in z-10 aspect-square h-14 md:h-20 bg-size-[auto_16.8px] md:bg-size-[auto_24px] bg-no-repeat bg-center;
    }

    .carousel-controls::scroll-button(*):hover,
    .carousel-controls::scroll-button(*):focus-visible {
      @apply bg-grey-800;
    }

    .carousel-controls::scroll-button(*):disabled {
      @apply bg-grey-500;
    }

    .carousel-controls::scroll-button(left) {
      content: "";
      @apply bg-[url("src/assets/icon-angle-left.svg")];
    }

    .carousel-controls::scroll-button(right) {
      content: "";
      @apply bg-[url("src/assets/icon-angle-right.svg")];
    }
  }
}
